@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?v43n9o');
    src:  url('../fonts/icomoon.eot?v43n9o#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?v43n9o') format('truetype'),
      url('../fonts/icomoon.woff?v43n9o') format('woff'),
      url('../fonts/icomoon.svg?v43n9o#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-menu:before {
    content: "\e900";
  }

body{
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    
}
h1{
    margin: 0;
    font-size: 40px;
    line-height: 1.5em;
    color: white;
}
h1 strong{
    color: #FF8C00;
}
.html-video{
    max-width: 100%;
    width: 100%;
}

/* --------------HEADER */

.header{
    background-color: #1b2127;
    color: white;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  
}
.header a{
    color: #FFF;
    text-decoration: none;
    padding: 0 10px;
    display: flex;
    height: inherit;
    align-items: center;
}
.header ol{
    display: flex;
    height: inherit;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}
.header ol li{
    display: flex;
    align-items: center;
    height: inherit;
}
.container {
    margin: 0 auto;
    max-width: 1000px;
    /* width: 100%; */
    flex: 1;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
  }
.menu{
    height: inherit;
    display: inherit;
}
.logo-content{
    height: inherit;
    display: inherit;
}
.container .logo-content h1{
    height: inherit;
    width: inherit;
}

/* --------------END HEADER */


/* --------------HERO */

.hero{
    height: auto;
    background-color: #1b2127;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: hidden;
}
.container{
    max-width: 1000px;
    position: relative;
    padding: 1em 0;
}
.container .hero-h1{
    width: 80%;
    display: block;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}
.hero-image{
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

}
/* --------------END HERO */

/* --------------ARTICULOS */
.sobre-el-juego{
    background: #FAFAFA;
    padding: 15px 0 10px 0;
}
.sobre-el-juego .container li{
    margin-bottom: 10px;
}
.container h2{
    margin-top: 0;
    margin-bottom: 0;
    padding: 0px 0 5px 0;
    font-size: 30px;
}
.article{
    border: 1px solid gray;
    border-radius: 10px;
    margin: 10px 0;
    padding: 20px;
    background: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.article h3{
    color: #FF8C00;
}
.article-title h1{
    color: black;
}
.article-description{
    width: 48%;
}
.article-image-container{
    width: 48%;
    justify-content: center;
    margin: 0;
    overflow: hidden;
    display: flex;
}
.article-image{
    max-width: 100%;
}
/* --------------END ARTICULOS */


/* --------------DUNGEONS */
.dungeons{
    background: #FAFAFA;
    padding: 10px 0 10px 0;
}
.article-dungeon-container{
    margin: 0;
    background: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.dungeon-article{
    border: 1px solid gray;
    background: #1b2127;
    border-radius: 10px;
    overflow: hidden;
    /* flex-shrink: 0; */
    margin: 10px 0px;
    width: 47%;
    display: block;
}
.dungeon-image-cotainer{
    width: 100%;
    display: flex;
    justify-content: center;
}
.container .dungeon-image{
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.dungeon-details{
    margin: 20px 40px;
    background-color: white;
    position: relative;
    padding: 20px;
    text-align: center;
}
.dungeon-title{
    color: #FF8C00;
    font-size: 25px;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: left;
}
.dungeon-description{
    text-align: left;
}
.dungeon-url{
    border: 1px solid #056fff;
    padding: 5px 20px;
    text-decoration: none;
    color: #056fff;
    text-align: center;
    border-radius: 5px;
}
.dungeon-url:hover{
    color: white;
    background-color: #1b2127;
    border: none;
}
.container img{
    width: 100%;
}
.flexible-video{
    width: 100%;s
    height: 0;
    padding-top: 56.25%;
    position: relative;
}
.youtube-video{
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
/* --------------END DUNGEONS */


/* --------------CONTACT */
.contact{
    background-color: #FF8C00;
    color: #FFF;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1em 1em;
}
.social-link{
    display: inline-block;
    width: 50px;
    height: 50px;
    /* border: 1px solid white; */
}
.social-link.github{
    background-image: url(../images/github.svg);
    background-size: 50px 50px;
}
.social-link.instagram{
    background-image: url(../images/instagram.svg);
    background-size: 50px 50px;
}

.form-email{
    vertical-align: middle;
}
.form-email a{
    color: white;
    display: block;
    margin: 5px auto;
    text-align: center;
}
/* --------------END CONTACT */

/* --------------FOOTER */

.footer{
    color: white;
    background-color: #1b2127;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 1em;
}
.footer img{
    vertical-align: middle;
    width: 30px;
}
.footer a{
    color: white;
}
/* --------------END FOOTER */


/* --------------Media queri desktop first */

@media screen and (max-width: 1240px) {
    .container{
        padding: 0 1em;
    }
    .hero{
        position: relative;
        overflow: hidden;
    }
    .hero h1{
        z-index: 2;
    }
    .hero-image{
        position: absolute;
        z-index: 1;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
    }

}

@media screen and (max-width: 677px) {
    .header{
        display: block;
        height: ;
    }
    .header ol{
        display: block;
    }
    .header ol li{
        height: 50px;
        display: block;
    }
    .header a{
        justify-content: center;
    }
    .header .logo-content h1{
        display: block;
        margin: 0 auto;
        width: fit-content;
        color: #FF8C00;
    }
    .hero{
        padding: 1em 0;
        height: auto;
    }
    .sobre-el-juego{
        max-width: 1000px;
        width: 100%;
    }
    .article-image-container{
        width: 100%;
    }
    .container .article-image{
        width: 100%;
    }
    .article-description{
        width: auto;
    }
    .container{
        margin: 0px 15px 0px 15px;
    }
    .dungeon-article{
        width: 100%;
    }
    .dungeon-details{
        margin: 10px 15px;
    }
}


@media screen and (max-width: 480px){
    .container .hero-h1{
        font-size: 1.9em;
    }
    .container h2{
        font-size: 25px;
    }
    .contact{
        display: block;
        text-align: center;
    }
    .footer{
        display: block;
        text-align: center;
        padding: 1px;
    }
}

@media screen and (max-width: 320px){
    .header h1{
        font-size: 30px;
    }
    .container{
        margin: 0px 5px 0px 5px;
        padding: 0 .5em;

    }
    .container .hero-h1{
        font-size: 1em;
    }
    .container h2{
        font-size: 15px;
    }
    .article h3{
        font-size: 15px;
    }
    .contact{
        display: block;
        text-align: center;
    }
    .footer{
        display: block;
        text-align: center;
        padding: 1px;
    }
}

/* --------------end Media queri desktop first */
